#Images:
Ejercicios/Ejercicios08-Design/images/

#SCSS:
Ejercicios/Ejercicios08-Design/scss/

#Prepros Config
Ejercicios/Ejercicios08-Design/prepros.config

#Prepros Config 09
Ejercicios/Ejercicios09-Japo/prepros.config 

#Ejercicio 09 images:
Ejercicios/Ejercicios09-Japo/images/

#Ejercicio 09 scss:
Ejercicios/Ejercicios09-Japo/scss/