.bgBlue {
    background-color: blue;
    height: 50px;
    border: 2px solid black;
}

.bgRed {
    background-color: red;
    height: 50px;
    border: 2px solid black;
}

.seven,
.six {
    height: 30px;
}