//Variables: 
@import './variables';
//Mixins: 
@import './mixins';

nav {
    background-color: $color01;

    .links-nav {
    @include flex-center;
    list-style: none;
    padding: 15px 0;

        li {
        padding: 0 35px;
            a {
            color: white;
            }
        }
    }
}

.bg-banner {
    background-image: url("../images/banner_bg.png");
    height: 100vh;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;

    .text-banner {
        @include flex-center;
        flex-direction: column;
        align-items: unset;
        padding-left: 10%;
        p {
            color: $color02;
        }

        h1 {
            color: $color01;
            font-weight: 300;
            font-size: 60px;
            word-spacing: 40px;
        }
    }
}

.img-about {
    @include flex-center;
    height: 80vh;
    img {
        width: 50%;
    }
}

.f-center {
    @include flex-center;
    .text-about {
        width: 50%;
    }
}

.bg-services {
    background-image: url("../images/services_bg.png");
    .col-12 {
        text-align: center;
        padding: 110px 0;
    }
    .card {
        background-color: transparent;
        border: 0;
        align-items: center;
        img {
            width: 50%;
        }
        h5 {
            text-align: center;
        }
        p {
            font-size: 0.8rem;
            color: #000000ad;
        }
    }
}

.col-left-adopt {
    padding-left: 25%;
    @include flex-center;
    flex-direction: column;
    h2 {
        font-weight: 400;
        word-spacing: 15px;
        margin-bottom: 4rem;
    }
    p {
        font-size: 18px;
    }
    .container-adopt {
        @include flex-center;
    }
    button {
        border-radius: 15px;
        background-color: #53c9bb;
        border-color: #53c9bb;
    }
}

.p-top-button {
    padding: 100px 0;
}

.bg-happy-dog {
background-image: url("../images/MicrosoftTeams-image\ \(4\).png");
height: 50vh;
background-size: cover;
background-position: top;
background-repeat: no-repeat;
}

.img-adopt {
    @include flex-center;
    height: 80vh;
    img {
        width: 60%;
    }
}

.adopt-text {
    @include flex-center;
    .text-about {
        width: 70%;
    }
}

footer {
    background-image: url("../images/MicrosoftTeams-image\ \(6\).png");
    height: 80vh;
    .subscribe {
        color: #fff;
        flex-direction: column;
        @include flex-center;
        .input-group {
        width: 40%;
            span {
                background-color: #dc3545;
                color: #fff;
                border: none;
            }
        }
    }
    .menu-list {
        text-align: center;
        color: #fff;
        ul {
            list-style: none;
        }
        li {
            padding: 0.5rem;
        }
    }
    
}